html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.85rem;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}
.jumbotron {
  max-height: 1000px;
  background-color: white;
}
.logo {
  width:  30%;
}

.logo img {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.company-name {
  width: 50%;
}

.company-name-text {
  width: 80%;
}

.company-name img {
  padding: 4rem 0;
  width: 100%;
}

.info {
  height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./../images/section-bg-image.png");
  display: flex;
  justify-content: center;
  align-items: center;
}


#text {
  width: 90%;
  display: flex;
  justify-content: center;
}

.footer {
  min-height: 40rem;
  background-color: black;
  color: white;
  padding: 3rem 10%;
}


.logo-bottom {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.logo-bottom img {
  max-width: 15rem;
  padding-bottom: 2rem;
}

.bold {
  font-weight: bold;
}

#contact {
  padding-top: 2rem;
  color: white;
}

.form-control {
  border-radius: 0;
  background-color: #5C5C5C;
  margin-bottom: .4rem;
  border: none;
  color: white;
  padding: 1.5rem 1rem;
  font-size: 1.2rem;
}

.btn {
  border-radius: 0;
  background-color: white;
  margin-bottom: .4rem;
  border: none;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  padding: .5rem 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.mobile {
  display: none;
}
a {
  color: white;
}
.swissmade {
  display: flex;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
}

.swissmade h3 {
  margin: 0 auto;
}

.jumbotron-fire h2 {
  font-size: 3rem;
  color: #F9B62A;
}
.jumbotron-air h2 {
  font-size: 3rem;
  color:#BCCFDA;
}
.jumbotron-water h2{
  font-size: 3rem;
  color:#38B0E3;
}
.jumbotron-earth h2{
  font-size: 3rem;
  color:#7EB936;
}



@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: grid;
  }
  .logo-bottom {
    padding-top: 1rem;
  }
}
